In [3]:
import pandas as pd 
ds = pd.read_csv('house_price_dataset.csv')

In [ ]:
# python basic
# function and class and object
# dataset manipulation using pandas
# data analysis and visualization
# data preprocessing and cleaning

In [2]:
ds.head()

   area_sqft  bedrooms  bathrooms  floors  parking  age_of_house     price
0       1360         3          4       1        2            29  13303080
1       1794         2          1       2        1            10  12188053
2       1630         3          3       3        0             3  11387324
3       1595         3          4       1        1            12  14029677
4       2138         4          1       1        0            10   5821127

In [3]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_sqft     200 non-null    int64
 1   bedrooms      200 non-null    int64
 2   bathrooms     200 non-null    int64
 3   floors        200 non-null    int64
 4   parking       200 non-null    int64
 5   age_of_house  200 non-null    int64
 6   price         200 non-null    int64
dtypes: int64(7)
memory usage: 11.1 KB

In [1]:
# ML -supervied learning and unsupervied learning
# supervied learning - regression 
from sklearn.model_selection import train_test_split # training and testing 
from sklearn.linear_model import LinearRegression

In [5]:
ds.head()

   area_sqft  bedrooms  bathrooms  floors  parking  age_of_house     price
0       1360         3          4       1        2            29  13303080
1       1794         2          1       2        1            10  12188053
2       1630         3          3       3        0             3  11387324
3       1595         3          4       1        1            12  14029677
4       2138         4          1       1        0            10   5821127

In [6]:
ds["price"].head()

0    13303080
1    12188053
2    11387324
3    14029677
4     5821127
Name: price, dtype: int64

In [5]:
ds["price"]

0      13303080
1      12188053
2      11387324
3      14029677
4       5821127
         ...
195     4920564
196    13471177
197    12368643
198    11077064
199     5153093
Name: price, Length: 200, dtype: int64

In [7]:
X = ds.drop("price", axis=1)
y = ds["price"]

In [9]:
ds.head()

   area_sqft  bedrooms  bathrooms  floors  parking  age_of_house     price
0       1360         3          4       1        2            29  13303080
1       1794         2          1       2        1            10  12188053
2       1630         3          3       3        0             3  11387324
3       1595         3          4       1        1            12  14029677
4       2138         4          1       1        0            10   5821127

In [8]:
X.head()

   area_sqft  bedrooms  bathrooms  floors  parking  age_of_house
0       1360         3          4       1        2            29
1       1794         2          1       2        1            10
2       1630         3          3       3        0             3
3       1595         3          4       1        1            12
4       2138         4          1       1        0            10

In [10]:
y.head()

0    13303080
1    12188053
2    11387324
3    14029677
4     5821127
Name: price, dtype: int64

In [11]:
ds.columns

Index(['area_sqft', 'bedrooms', 'bathrooms', 'floors', 'parking',
       'age_of_house', 'price'],
      dtype='object')

In [12]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.3,random_state=42)

In [11]:
ds.shape

(200, 7)

In [13]:
print(X.shape)
print(y.shape)

(200, 6)
(200,)

In [14]:
print(X_train.shape)
print(X_test.shape)

(160, 6)
(40, 6)

In [15]:
print(y_test.shape)
print(y_train.shape)

(40,)
(160,)

In [ ]:
ML - .pkl
deep - .h5 or .keras
object detection using yolo - .pt

In [13]:
from sklearn.linear_model import LinearRegression

In [15]:
model = LinearRegression()
model.fit(X_train,y_train)

LinearRegression()

In [18]:
import joblib
joblib.dump(model,'house_price_pred.pkl')

['house_price_pred.pkl']

In [19]:
pred = model.predict(X_test)

In [21]:
X_test

     area_sqft  bedrooms  bathrooms  floors  parking  age_of_house
95        2588         4          1       2        2             7
15        2015         2          4       2        1             1
30         689         1          3       3        2             2
158       2131         2          4       1        1            25
128       1683         1          2       3        1             1
115       1538         5          3       3        0             3
69        2843         5          2       3        1            24
170       1141         1          3       2        1            22
174       2259         2          3       2        1            10
45        1863         5          1       2        0             2
66         955         3          3       1        0            25
182       1939         5          2       3        2             0
165       1791         2          1       2        2             9
78         992         3          1       2        0            13
186        622         4          1       2        0            10
177       1653         2          3       1        1            12
56        2000         5          4       3        1            13
152       1148         4          3       2        1             1
82        1867         4          1       3        2             0
68        1516         2          1       2        0             3
124       2778         1          2       1        1             0
16        2933         3          3       3        0            12
148       1782         4          3       1        0            14
93        2296         4          4       3        2            20
65        1315         3          2       1        1            13
60         661         1          3       1        1            20
84        2527         5          1       3        1            14
67        1775         3          3       2        2            29
125       2178         4          4       1        2            29
132       1295         2          1       3        1             9
9         1982         1          2       1        2            23
18        1455         2          2       2        1             1
55        1629         1          3       3        0             4
75        1263         5          2       1        0             7
150       1979         4          1       2        1            11
104       2646         3          2       2        1             7
135       1863         1          1       1        2             5
137       1854         5          3       1        0            14
164       1063         4          1       2        2            29
76        2735         3          2       2        1             6

In [20]:
pred

array([ 9178448.17543629, 10328547.32709942, 10048460.80143153,
        8951526.34720213, 10016296.78445451,  9456172.70221226,
        8852535.75368145,  8835107.0831151 ,  9690942.27993197,
        8659817.01082707,  7852951.28974891,  9741414.44088694,
        9054728.48027501,  8094220.07849193,  7937450.89031581,
        9029636.23723619,  9664007.24450711,  9364994.96649876,
        9533036.37243997,  8908271.65582453,  9853743.69578577,
        9896749.79639556,  8545552.55567128,  9762859.18010421,
        8378587.13344119,  8407772.98787553,  8858696.74918813,
        8636092.97159322,  8652920.08507105,  9024615.00366005,
        8634611.88320298,  9454355.02479848, 10026179.40728125,
        8187677.29374368,  8594458.73203494,  9515637.09073864,
        9086517.34425148,  8429849.74976364,  7555785.64194794,
        9597338.5719447 ])

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

r2=r2_score(y_test,pred)
print(r2)   # if my output is near to 1 then my model is good   -0.107

-0.08188531581877045

In [23]:
import numpy as np
mse = mean_squared_error(y_test, pred)
rmse = np.sqrt(mse)

In [24]:
print(mse)
print(rmse)

13706795008288.637
3702268.9000515128

In [ ]:
# data size increase , 
# model change
# traindata increate test_size= 0.1

In [25]:
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor(
    n_estimators=300,
    random_state=42
)

model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print("Accuracy:", r2_score(y_test, y_pred) )

Accuracy: -0.10712040115941668